---
layout: default
---

{{ content }}

<h2>Presentations</h2>
<ul class="talks">
  {% for talk in page.talks %}
    {% assign t = site.talks | where: 'title', talk | first %}
    <li><a href="{{ t.url }}">{{ t.title }}</a></li>
  {% endfor %}
</ul>
